################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C++/Practica13
/.vs/u-tad/v16/Browse.VC.opendb
/Math/exercise1handout/exercise2handout/.vs/Exercise2/v16/Browse.VC.opendb
/Math/exercise1handout/exercise3handout/.vs/Exercise3/v16/Browse.VC.opendb
